{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block main %} 
<div >
<h2 id="top-page" class="presentation">Notre entreprise : qui sommes nous?</h2><br>
<h3 class="presentation">L'histoire de notre entreprise</h3><br>

    <div>

        <div class="boutique">
            <img id="presentation1" class="boutique_photo" src="{{ asset("img_Presentation/boutique_photo.jpg") }}" alt="Notre boutique">
        </div>
        
        <p>Il était une fois, en 2015, une biscuiterie-chocolaterie qui naquit dans un petit village pittoresque niché au cœur d'une vallée verdoyante. Cette entreprise était le fruit de l'imagination et de la passion d'un maître chocolatier et d'un maître biscuitier, deux amis d'enfance nommés Thomas et Lucien.</p>

        <p>Thomas et Lucien partageaient depuis toujours un amour pour les délices sucrés. Ils passaient des heures à expérimenter de nouvelles recettes dans la cuisine de leurs parents, utilisant des ingrédients frais et de qualité pour créer des biscuits et des chocolats savoureux. Leur rêve ultime était de partager ces créations avec le monde entier.</p>

        <p>Un jour, après de nombreuses années de pratique et de perfectionnement de leurs techniques, Thomas et Lucien décidèrent de concrétiser leur vision en ouvrant leur propre biscuiterie-chocolaterie. Ils achetèrent un petit bâtiment historique au centre du village, le transformèrent en un charmant magasin et l'appelèrent "Biscuiterie Chocolaterie Sissi".</p>

        <p>Leur objectif était de créer des produits uniques, alliant les saveurs traditionnelles avec une touche d'innovation. Ils sélectionnaient soigneusement les ingrédients, privilégiant les fournisseurs locaux et les produits biologiques. Les chocolats étaient fabriqués à partir de cacao de qualité supérieure, provenant des plantations du monde entier, et les biscuits étaient préparés avec des ingrédients frais et naturels.</p>

        <p>Dès l'ouverture du magasin, l’entreprise connut un succès immédiat. Les habitants du village et des environs affluaient pour découvrir les créations délicieuses de Thomas et Lucien. Leurs biscuits, croustillants à l'extérieur et fondants à l'intérieur, étaient de véritables petits bijoux de saveurs. Leurs chocolats, quant à eux, étaient une véritable symphonie de goûts et de textures, allant des classiques aux plus audacieux, tels que le chocolat au piment ou aux grains de pavot bleu.</p>

        <p>La renommée de la biscuiterie-chocolaterie se répandit rapidement bien au-delà du village. Les clients venaient de loin pour déguster les créations uniques de Thomas et Lucien. Les médias locaux vantèrent les mérites de cette entreprise artisanale, soulignant l'engagement envers la qualité et le respect de l'environnement.</p>

        <p>Au fil des années, la biscuiterie-chocolaterie continua de prospérer. Thomas et Lucien agrandirent leur équipe, recrutant des artisans talentueux partageant leur passion pour les douceurs sucrées. Le magasin fut agrandi pour répondre à la demande croissante et une ligne de production fut mise en place pour augmenter leur capacité de fabrication.</p>

        <p>La biscuiterie-chocolaterie participa également à de nombreux événements gastronomiques et foires internationales, où elle remporta de nombreux prix pour ses créations exquises. Thomas et Lucien étaient fiers de représenter leur village et leur pays avec leurs produits artisanaux de qualité supérieure.</p>

        <p></p>
        
        <div class="boutique">
            <img id="presentation2" class="boutique_photo" src="{{ asset("img_Presentation/boutique_biscuits.jpg") }}" alt="Biscuits emballés">
        </div>

        <p>Chez Thomas et Lucien, la fabrication des biscuits sucrés et salés est un véritable art. Chaque étape est minutieusement réalisée avec passion et savoir-faire, dans le respect des traditions artisanales. Laissez-moi vous guider à travers le processus de création de ces délices savoureux.</p>

        <p>Tout commence par la sélection rigoureuse des ingrédients. Thomas et Lucien s'approvisionnent auprès de fournisseurs locaux, privilégiant les ingrédients frais et de qualité. Les farines utilisées sont choisies avec soin, en fonction des différentes variétés de biscuits à confectionner. Qu'il s'agisse de biscuits sablés, croquants, ou moelleux, chaque recette requiert une farine spécifique pour obtenir la texture parfaite.</p>

        <p>Les ingrédients tels que le sucre, le beurre, les œufs et les arômes sont méticuleusement dosés pour garantir une régularité dans le goût et la qualité des biscuits. Les œufs utilisés sont issus d'élevages locaux respectueux du bien-être animal. Les arômes naturels, tels que la vanille ou l'amande, sont souvent préférés pour ajouter une note subtile à chaque création.</p>

        <p>Une fois les ingrédients assemblés, la pâte est pétrie délicatement pour obtenir une consistance homogène. Thomas et Lucien utilisent des techniques traditionnelles, mêlant habileté et expérience, pour obtenir une texture parfaite. Certains biscuits nécessitent une attention particulière lors du pétrissage, comme les biscuits sablés, qui doivent être manipulés avec précaution pour conserver leur friabilité.</p>
        
        <p>Une fois la pâte prête, elle est étalée avec soin sur des planches à pâtisserie. Les emporte-pièces sont utilisés pour donner aux biscuits leur forme caractéristique, qu'il s'agisse de cœurs, d'étoiles, de fleurs ou de toute autre fantaisie créative. Chaque biscuit est découpé avec précision, reflétant l'attention méticuleuse portée à chaque détail.</p>
        
        <p>Les biscuits sont ensuite disposés sur des plaques de cuisson et enfournés dans des fours spécialement calibrés pour garantir une cuisson uniforme. La température et le temps de cuisson varient en fonction du type de biscuit, assurant ainsi une texture et une couleur parfaites. Les biscuits sablés sont cuits jusqu'à ce qu'ils soient légèrement dorés, tandis que les biscuits croquants nécessitent une cuisson plus longue pour atteindre leur consistance croustillante.</p>
        
        <p>Une fois sortis du four, les biscuits sont laissés à refroidir sur des grilles pour préserver leur texture et leur croustillant. Pendant ce temps, les arômes sucrés se diffusent dans l'air, créant une ambiance irrésistiblement alléchante.</p>
        
        <p>En parallèle de la fabrication des biscuits sucrés, Thomas et Lucien s'adonnent également à la création de biscuits salés. Les biscuits apéritifs sont préparés avec la même attention et la même expertise. Les farines sont mélangées à des ingrédients soigneusement sélectionnées, comme le romarin et le fromage de chèvre local.</p>
        
        
        <div class="boutique">
            <img id="presentation3" class="boutique_photo" src="{{ asset("img_Presentation/boutique_interieur.jpg") }}" alt="Boutique intérieure">
        </div>

        <p>En plus de leurs délicieux biscuits sucrés et salés, Thomas et Lucien, les maîtres de la biscuiterie-chocolaterie, ont également ajouté une touche de sophistication à leur boutique en proposant une sélection de thés du monde entier. Soucieux de créer des expériences gustatives complètes, ils ont choisi avec soin chaque variété de thé pour accompagner parfaitement leurs biscuits artisanaux.</p>

        <p>La section des thés de la boutique est un véritable trésor pour les amateurs de thé. Les étagères sont remplies de boîtes colorées, chacune renfermant une histoire unique. Thomas et Lucien ont parcouru le monde à la recherche des meilleures plantations de thé, s'assurant de travailler en étroite collaboration avec des producteurs respectueux de l'environnement et engagés dans des pratiques durables.</p>
        
        <p>Leur collection comprend une variété de thés, des classiques intemporels aux mélanges plus audacieux. Les amateurs de thé noir trouveront des variétés raffinées telles que le Darjeeling, aux notes florales délicates, ou le puissant Assam, aux arômes corsés. Pour ceux qui préfèrent un thé plus léger, des thés verts tels que le Sencha japonais ou le délicat thé blanc sont disponibles, offrant des saveurs vives et rafraîchissantes.</p>
        
        <p>Les thés parfumés occupent également une place de choix dans la boutique. Les clients peuvent choisir parmi des mélanges aromatisés à la vanille, à la bergamote ou à la rose, pour une expérience gustative exquise. Chaque variété est accompagnée de descriptions détaillées, permettant aux clients de plonger dans l'histoire et la culture de chaque thé.</p>
        
        <p>Pour ceux qui recherchent une expérience plus exotique, la boutique propose également une sélection de thés issus de régions plus lointaines. Des thés oolong semi-fermentés de Taïwan, avec leurs notes fruitées et florales, aux thés pu'er chinois, vieillis et riches en saveurs terrestres, il y en a pour tous les goûts et toutes les découvertes.</p>
        
        <p>Thomas et Lucien ont à cœur d'offrir à leurs clients une expérience complète. Pour cela, ils ont créé des dégustations de thé régulières dans leur boutique. Les clients sont invités à s'asseoir dans un coin confortable, où des tasses en porcelaine délicates et des théières en fonte les attendent. Les maîtres de la biscuiterie-chocolaterie partagent avec passion leurs connaissances sur les différents thés, leurs méthodes de préparation et les accords avec les biscuits.</p>
        
        <p>Les biscuits artisanaux de "Le Doux Délice" sont soigneusement assortis à chaque variété de thé pour créer une harmonie de saveurs. Les biscuits sablés légers et friables sont parfaits avec un thé vert délicat, tandis que les biscuits croquants aux noix se marient à merveille avec un thé noir corsé. Les biscuits salés, avec leur palette de saveurs plus audacieuse, sont des partenaires idéaux pour des thés plus robustes, tels que le thé pu'er, par exemple.</p>

        <div class="boutique">
            <img id="presentation4" class="boutique_photo" src="{{ asset("img_Presentation/boutique_interieur2.jpg") }}" alt="Boutique intérieur">
        </div>

        <p>Thomas et Lucien, les fondateurs de la biscuiterie-chocolaterie, sont connus pour leur créativité sans limite et leur souci du détail. Ils cherchent constamment à proposer de nouvelles saveurs et à élargir leur gamme de produits pour offrir à leurs clients une expérience unique. Pour cette raison, ils proposent régulièrement des promotions surprises et des biscuits en série limitée pour fidéliser leur clientèle.</p>
        
        <p>En se promenant dans la boutique, les clients peuvent être agréablement surpris par une offre spéciale, telle qu'un biscuit gratuit pour l'achat d'une boîte ou une remise sur une certaine variété de biscuits. Ces offres peuvent changer régulièrement, incitant les clients à revenir souvent pour découvrir les dernières promotions.</p>
        
        <p>En plus de ces promotions surprises, Thomas et Lucien créent également des biscuits en édition limitée, qui ne sont disponibles que pour une courte période de temps. Ces biscuits sont souvent inspirés par les saisons ou les événements spéciaux, tels que les fêtes de fin d'année ou la Saint-Valentin. Ils peuvent également être créés en collaboration avec des partenaires locaux, tels que des producteurs de miel ou des artisans de confiture, pour créer des saveurs uniques et exclusives.</p>
        
        <p>Les biscuits en édition limitée peuvent être un véritable trésor pour les clients, qui sont toujours à la recherche de nouvelles saveurs à découvrir. Ces biscuits sont souvent très populaires et se vendent rapidement, incitant les clients à revenir régulièrement pour être sûrs de ne pas manquer la prochaine création exclusive.</p>
        
        <p>En plus de leurs promotions surprises et biscuits en édition limitée, Thomas et Lucien proposent également des dégustations régulières dans leur boutique. Les clients sont invités à goûter différents biscuits et à donner leur avis, ce qui permet aux fondateurs de la biscuiterie-chocolaterie de recevoir des commentaires précieux pour améliorer leurs recettes.</p>
        
        <p>En somme, pour découvrir les dernières créations de Thomas et Lucien et bénéficier de leurs promotions surprises et biscuits en édition limitée, il est important de visiter leur boutique régulièrement. En plus de l'expérience gustative unique qu'ils proposent, les fondateurs de la biscuiterie-chocolaterie cherchent à créer une véritable communauté de clients fidèles, en offrant des offres exclusives et en créant une ambiance conviviale et chaleureuse dans leur boutique.</p>

    </div>
</div>

<div class="up-arrow" > 
    <a href="#top-page"><img id="up" src="{{asset("img/up.png")}}" alt="Icône haut"></a>
</div>




{% endblock %}